<div class="row justify-content-center dashboard-buttons">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <%= link_to replacement_requests_path, data: { turbolinks: false }, class:"font-weight-bolder btn btn-outline-primary btn-lg btn-block" do %>
          <i class="material-icons text-dark mr-3" style="top: 0;font-size: 2rem;">flare</i>
          Ver solicitudes pendientes
        <% end %>
      </div>
      <div class="col-sm-12 col-lg-6">
        <%= link_to replacement_proposals_path, data: { turbolinks: false }, class:"font-weight-bolder btn btn-outline-success btn-lg btn-block" do %>
          <i class="material-icons text-dark mr-2" style="top: 0;font-size: 2rem;">summarize</i>
          Ver mis propuestas
        <% end %>
      </div>
      <div class="col-sm-12 col-lg-6">
        <%= link_to shops_path, class:"font-weight-bolder btn btn-outline-warning btn-lg btn-block" do %>
          <i class="material-icons text-dark mr-3" style="top: 0;font-size: 2rem;">store</i>
          Ver mis locales
        <% end %>
      </div>
      <div class="col-sm-12 col-lg-6">
        <%= link_to new_shop_path, data: { turbolinks: false }, class:"font-weight-bolder btn btn-outline-warning btn-lg btn-block" do %>
          <i class="material-icons text-dark mr-2" style="top: 0;font-size: 2rem;">add_circle_outline</i>
          Agregar más locales
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
    <div class="col">
      <%= render 'home/ad_example' %>
    </div>
  <div class="col-md-1 col-sm-1"></div>
</div>