<%= form_with(model: shop) do |form| %>
  <% if shop.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2>
        <%= I18n.t("errors.messages.not_saved", count: shop.errors.count, resource: shop.class.model_name.human.downcase) %>
      </h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header card-header-warning">
      <p class="card-category">Registre la información de su local comercial para que los compradores puedan localizarlo.</p>
    </div>
    <div class="card-body">

      <div class="form-group">
        <%= form.label :name, class:"bmd-label-floating" %>
        <%= form.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :ruc, class:"bmd-label-floating" %>
        <%= form.text_field :ruc, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phone1, class:"bmd-label-floating" %>
        <%= form.text_field :phone1, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phone2, class:"bmd-label-floating" %>
        <%= form.text_field :phone2, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :address, class:"bmd-label-floating" %>
        <%= form.text_field :address, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :contact_name, class:"bmd-label-floating" %>
        <%= form.text_field :contact_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :sector, class:"bmd-label-floating" %>
        <%= form.text_field :sector, class:"form-control" %>
      </div>

    </div>
    <div class="card-footer">
      <div class="stats align-items-center">
        <%= form.submit 'Guardar', class:"text-info btn btn-outline-info btn-sm" %>
        &nbsp;&nbsp;
        <%= link_to 'Cancelar', shops_path, class:"text-danger btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>
<% end %>
