<%= form_with(model: shop) do |form| %>
  <% if shop.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2>
        <%= I18n.t("errors.messages.not_saved", count: shop.errors.count, resource: shop.class.model_name.human.downcase) %>
      </h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card">
    <div class="card-header card-header-warning">
      <p class="card-category">Registre la información de su local comercial para que los compradores puedan localizarlo.</p>
    </div>
    <div class="card-body">

      <div class="form-group">
        <%= form.label :name, class:"bmd-label-floating" %>
        <%= form.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :ruc, class:"bmd-label-floating" %>
        <%= form.text_field :ruc, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phone1, class:"bmd-label-floating" %>
        <%= form.text_field :phone1, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :phone2, class:"bmd-label-floating" %>
        <%= form.text_field :phone2, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :country, class:"bmd-label-floating" %>
        <select class="form-control" name="shop[country]" id="shop_country">
          <option>Seleccione...</option>
          <%= options_for_select( CS.countries.collect{ |co| [ co.last, co.first ] }, @shop.country ) %>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :state_province, class:"bmd-label-floating" %>
        <select class="form-control" name="shop[state_province]" id="shop_state_province">
          <% if @shop.country.present? %>
            <%= options_for_select( CS.states(@shop.country).collect{ |st| [ st.last, st.first ] }, @shop.state_province ) %>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :city, class:"bmd-label-floating" %>
        <select class="form-control" name="shop[city]" id="shop_city">
          <% if @shop.state_province.present? %>
            <%= options_for_select( CS.cities(@shop.state_province, @shop.country).collect{ |ct| [ ct, ct ] }, @shop.city ) %>
          <% end %>
        </select>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :address, class:"bmd-label-floating" %>
        <%= form.text_field :address, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :contact_name, class:"bmd-label-floating" %>
        <%= form.text_field :contact_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :sector, class:"bmd-label-floating" %>
        <%= form.text_field :sector, class:"form-control" %>
      </div>

    </div>
    <div class="card-footer">
      <div class="stats align-items-center">
        <%= form.submit 'Guardar', class:"text-info btn btn-outline-info btn-sm" %>
        &nbsp;&nbsp;
        <%= link_to 'Cancelar', shops_path, class:"text-danger btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  $('#shop_country').change(function(){
    var input_state = $('#shop_state_province');
    $.getJSON('/states_provinces/' + $(this).val(), function(data){
      input_state.empty();
      input_state.append('<option>Seleccione...</option>');
      $.each(data, function(i, j){
        var opt = '<option value='+ i +'>'+ j +'</optio>';
        input_state.append(opt);
      });
    });
  });
  $('#shop_state_province').change(function(){
    var input_city = $('#shop_city');
    $.getJSON('/cities/' + $('#shop_country').val() + '/' + $(this).val(), function(data){
      input_city.empty();
      input_city.append('<option>Seleccione...</option>');
      $.each(data, function(i, j){
        var opt = '<option value='+ j +'>'+ j +'</optio>';
        input_city.append(opt);
      });
    });
  });
</script>