<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <h1>
      <%= link_to dashboard_path, class:"btn btn-outline-dark btn-lg back-dashboard-button" do %>
        <i class="material-icons text-dark" style="top: 0;">arrow_back_ios_new</i>
      <% end %>
      Mis Locales
    </h1>

    <% @shops.each do |shop| %>
      <div class="card">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">store</i>
          </div>
          <p class="card-category"></p>
          <h3 class="card-title"><%= shop.name %> <small><%= shop.ruc %></small></h3>
        </div>
        <div class="card-body">

          <table>
            <tbody>
              <tr>
                <th align="right" style="text-align:right;padding-right:15px;">Teléfono</th><td><%= shop.phone1 %></td>
              </tr>
              <tr>
                <th align="right" style="text-align:right;padding-right:15px;">Telélono alternativo</th><td><%= shop.phone2 %></td>
              </tr>
              <tr>
                <th align="right" style="text-align:right;padding-right:15px;">Dirección</th><td><%= shop.address %></td>
              </tr>
              <tr>
                <th align="right" style="text-align:right;padding-right:15px;">Nombre de contacto</th><td><%= shop.contact_name %></td>
              </tr>
              <tr>
                <th align="right" style="text-align:right;padding-right:15px;">Sector</th><td><%= shop.sector %></td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="card-footer">
          <div class="stats align-items-center">
            <%= link_to edit_shop_path(shop), class:"text-info btn btn-outline-info btn-sm" do %>
              <i class="material-icons text-dark mr-2" style="top: 0;">mode_edit</i>
              Editar
            <% end %>
            <%= link_to shop, method: :delete, data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
              <i class="material-icons mr-1" style="top: 0;">remove_circle_outline</i>
              Eliminar
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <br>

  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>

<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <%= link_to new_shop_path, data: { turbolinks: false }, class:"btn btn-outline-warning btn-lg btn-block" do %>
      <i class="material-icons text-dark mr-3" style="top: 0;">store</i>
      Agregar más locales
    <% end %>
  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
<br>
<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
    <div class="col">
      <%= render 'home/ad_example' %>
    </div>
  <div class="col-md-1 col-sm-1"></div>
</div>
