<%= form_with(model: replacement_request) do |form| %>
  <% if replacement_request.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2>
        <%= I18n.t("errors.messages.not_saved", count: replacement_request.errors.count, resource: replacement_request.class.model_name.human.downcase) %>
      </h2>

      <ul>
        <% replacement_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header card-header-primary">
      <p class="card-category">Describa el repuesto que requiere lo mejor posible</p>
    </div>
    <div class="card-body">

      <div class="form-group">
        <%= form.label :vehicle_id, "Vehículo", class:"bmd-label-floating" %>
        <select class="form-control" name="replacement_request[vehicle_id]" id="replacement_request_vehicle_id" >
          <%= options_for_select(current_user.vehicles.collect{ |t| [ "#{t.brand} #{t.model} #{t.year}", t.id ] }) %>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :short_name, "Nombre", class:"bmd-label-floating" %>
        <%= form.text_field :short_name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :country, class:"bmd-label-floating" %>
        <select class="form-control" name="replacement_request[country]" id="replacement_request_country">
          <option>Seleccione...</option>
          <%= options_for_select( CS.countries.collect{ |t| [ t.last, t.first ] }, @replacement_request.country ) %>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :state_province, class:"bmd-label-floating" %>
        <select class="form-control" name="replacement_request[state_province]" id="replacement_request_state_province">
          <% if @replacement_request.country.present? %>
            <%= options_for_select( CS.states(@replacement_request.country).collect{ |st| [ st.last, st.first ] }, @replacement_request.state_province ) %>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :city, class:"bmd-label-floating" %>
        <select class="form-control" name="replacement_request[city]" id="replacement_request_city">
          <% if @replacement_request.state_province.present? && @replacement_request.country.present? && @replacement_request.country != 'Seleccione...'  %>
            <%= options_for_select( CS.cities(@replacement_request.state_province, @replacement_request.country).collect{ |ct| [ ct, ct ] }, @replacement_request.city ) %>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :description, "Descripción", class:"bmd-label-floating" %>
        <%= form.text_area :description, class:"form-control", rows: 4 %>
      </div>

      <div class="form-group">
        <%= form.label :photos, "Agregar Fotos", class:"text-primary btn btn-outline-primary btn-sm" %>
        <%= form.file_field :photos, class:"form-control-file", multiple: true %>
        <div class="add_photo row"></div>
      </div>
    </div>
    <div class="card-footer">
      <div class="stats align-items-center">
        <%= form.submit 'Guardar', class:"text-info btn btn-outline-info btn-sm" %>
        &nbsp;&nbsp;
        <%= link_to 'Cancelar', replacement_requests_path, data: { turbolinks: false }, class:"text-danger btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  replacement_request_photos.onchange = evt => {
    const v_files = Array.from(replacement_request_photos.files);
    console.log(v_files);
    v_files.forEach(item => {
      console.log(item);
      if (item) {
        prev_photo = $('<div class="col-sm-12 col-md-4"><img src="'+URL.createObjectURL(item)+'" alt="your image" style="width: 100%; display: block;" /></div>');
        $('.add_photo').append(prev_photo);
      }
    });
  }
  $('#replacement_request_country').change(function(){
    var input_state = $('#replacement_request_state_province');
    $.getJSON('/states_provinces/' + $(this).val(), function(data){
      input_state.empty();
      input_state.append('<option>Seleccione...</option>');
      $.each(data, function(i, j){
        var opt = '<option value='+ i +'>'+ j +'</optio>';
        input_state.append(opt);
      });
    });
  });
  $('#replacement_request_state_province').change(function(){
    var input_city = $('#replacement_request_city');
    $.getJSON('/cities/' + $('#replacement_request_country').val() + '/' + $(this).val(), function(data){
      input_city.empty();
      input_city.append('<option>Seleccione...</option>');
      $.each(data, function(i, j){
        var opt = '<option value='+ j +'>'+ j +'</optio>';
        input_city.append(opt);
      });
    });
  });
</script>