<div class="card col-sm-12 <%= params[:replacement_request_id].present? ? 'col-lg-12' : 'col-lg-4' %>">
  <div class="card-header card-header-success card-header-icon">
    <div class="card-icon p-1 ">
      <i class="material-icons">email</i>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p class="card-category text-dark"><%= replacement_request.updated_at.strftime('%d/%m/%Y') %> </p>
      </div>
      <div class="col-md-8 col-sm-6">
        <p class="card-category text-dark"><%= replacement_request.vehicle.brand %> <%= replacement_request.vehicle.model %> <%= replacement_request.vehicle.year %> </p>
      </div>
    </div>
  </div>
  <div class="card-body request-content">
    <div class="row">
      <% if replacement_request.photos.any? %>
        <div class="col-sm-12 col-md-5">
          <% if replacement_request.photos.size == 1 %>
            <div class="image-element">
              <% if replacement_request.photos.first.representable? && (["image/png", "image/jpeg", "image/png", "image/gif"].include?(replacement_request.photos.first.content_type)) %>
                <%= image_tag replacement_request.photos.first.variant(resize_to_limit: [150, 150]), class: "img-fluid rounded mx-auto d-block" %>
              <% else %>
                <%= link_to rails_blob_path(replacement_request.photos.first, disposition: "attachment") do %>
                  <div class="download-icon">
                    <span class="material-icons"> cloud_download </span>
                  </div>
                  <%= image_tag "quien_tiene_logo_n.png", alt: "Descargue el archivo", width: 150 %>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="owl-carousel">
              <% replacement_request.photos.each_with_index do |photo, index| %>
                <div class="image-element">
                  <% if photo.representable? && (["image/png", "image/jpeg", "image/png", "image/gif"].include?(photo.content_type)) %>
                    <%= image_tag photo.variant(resize_to_limit: [150, 150]), class: "img-fluid rounded mx-auto d-block" %>
                  <% else %>
                    <%= link_to rails_blob_path(photo, disposition: "attachment") do %>
                      <div class="download-icon">
                        <span class="material-icons"> cloud_download </span>
                      </div>
                      <%= image_tag "quien_tiene_logo_n.png", alt: "Descargue el archivo", width: 150 %>
                    <% end %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="col-sm-12 col-md-7">

        <h3 class="card-title"><%= replacement_request.short_name %></h3>

        <% if replacement_request.part_number.present? %>
          <h4>P/N: <%= replacement_request.part_number %></h4>
        <% end %>
        <%= replacement_request.description.html_safe %>
        <br>
        
        <% if can?(:manage, replacement_request) && replacement_request.state != 'closed' %>
          <%= link_to edit_replacement_request_path(replacement_request), class:"text-info btn btn-outline-info btn-sm" do %>
            <i class="material-icons text-dark mr-2" style="top: 0;">mode_edit</i>
            Editar
          <% end %>
          <%= link_to replacement_request, method: :delete, data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
            <i class="material-icons mr-1" style="top: 0;">remove_circle_outline</i>
            Eliminar
          <% end %>
        <% end %>
        <% if can?(:read, ReplacementProposal) && replacement_request.replacement_proposals.where(user_id: current_user.id).size > 0 %>
          <%= link_to replacement_proposals_path(replacement_request_id: replacement_request), data: { turbolinks: false }, class:"text-warning btn btn-outline-warning btn-sm" do %>
            <i class="material-icons mr-1" style="top: 0;">mark_email_read</i>
            Propuestas
          <% end %>
        <% end %>
        <% if can? :create, ReplacementProposal %>
          <%= link_to new_replacement_proposal_path(replacement_request_id: replacement_request), data: { turbolinks: false }, class:"text-warning btn btn-outline-warning btn-sm" do %>
            <i class="material-icons mr-1" style="top: 0;">mark_email_read</i>
            Agregar propueta
          <% end %>
        <% end %>
        <% if current_user.has_role?(:shop) && replacement_request.replacement_proposals.where(user_id: current_user.id).size == 0 %>
          <%= link_to ignore_replacement_request_path(replacement_request), data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
            <i class="material-icons mr-1" style="top: 0;">close</i>
            Ignorar
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div class="stats align-items-center">
    </div>
  </div>
</div>