<div class="card">
  <div class="card-header card-header-success card-header-icon">
    <div class="card-icon">
      <i class="material-icons">email</i>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p class="card-category text-dark"><%= replacement_request.updated_at.strftime('%d/%m/%Y %H:%M') %> </p>
      </div>
      <div class="col-md-8 col-sm-6">
        <p class="card-category text-dark"><%= replacement_request.vehicle.brand %> <%= replacement_request.vehicle.model %> <%= replacement_request.vehicle.year %> </p>
      </div>
    </div>
    <h3 class="card-title"><%= replacement_request.short_name %></h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <% if replacement_request.part_number.present? %>
          <h4>P/N: <%= replacement_request.part_number %></h4>
        <% end %>
        <%= replacement_request.description.html_safe %>
      </div>
      <% if replacement_request.photos.any? %>
        <div class="col-sm-12 col-md-7">
          <h4>Fotos de la parte solicitada (<%= replacement_request.photos.count %>)</h4>
          <% if replacement_request.photos.count == 1 %>
            <div>
              <%= image_tag replacement_request.photos.first.variant(resize_to_limit: [350, 350]), class: "img-fluid rounded mx-auto d-block" %>
            </div>
          <% else %>
            <div class="owl-carousel">
              <% replacement_request.photos.each_with_index do |photo, index| %>
                <div>
                  <%= image_tag photo.variant(resize_to_limit: [350, 350]), class: "img-fluid rounded mx-auto d-block" %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="card-footer">
    <div class="stats align-items-center">
      <% if can?(:manage, replacement_request) && replacement_request.state != 'closed' %>
        <%= link_to edit_replacement_request_path(replacement_request), class:"text-info btn btn-outline-info btn-sm" do %>
          <i class="material-icons text-dark mr-2" style="top: 0;">mode_edit</i>
          Editar
        <% end %>
        <%= link_to replacement_request, method: :delete, data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
          <i class="material-icons mr-1" style="top: 0;">remove_circle_outline</i>
          Eliminar
        <% end %>
      <% end %>
      <% if can?(:read, ReplacementProposal) && replacement_request.replacement_proposals.count > 0 %>
        <%= link_to replacement_proposals_path(replacement_request_id: replacement_request), data: { turbolinks: false }, class:"text-warning btn btn-outline-warning btn-sm" do %>
          <i class="material-icons mr-1" style="top: 0;">mark_email_read</i>
          Propuestas
        <% end %>
      <% end %>
      <% if can? :create, ReplacementProposal %>
        <%= link_to new_replacement_proposal_path(replacement_request_id: replacement_request), data: { turbolinks: false }, class:"text-warning btn btn-outline-warning btn-sm" do %>
          <i class="material-icons mr-1" style="top: 0;">mark_email_read</i>
          Agregar propueta
        <% end %>
      <% end %>
      <% if current_user.has_role?(:shop) && replacement_request.replacement_proposals.count == 0 %>
        <%= link_to ignore_replacement_request_path(replacement_request), data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
          <i class="material-icons mr-1" style="top: 0;">close</i>
          Ignorar
        <% end %>
      <% end %>
    </div>
  </div>
</div>