<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <h1>
      <%= link_to dashboard_path, class:"btn btn-outline-dark btn-lg back-dashboard-button" do %>
        <i class="material-icons text-dark" style="top: 0;">arrow_back_ios_new</i>
      <% end %>
      Mi cuenta
    </h1>

    <div class="card">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">manage_accounts</i>
        </div>
        <p class="card-category"></p>
        <h3 class="card-title">Configurar mi cuenta<small></small></h3>
        <div class="card-body">
          <%= form_for(@user, url: update_account_path, html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: @user %>

            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
            </div><br><br>

            <div class="form-group">
              <%= f.label :name, "Nombre" %><br />
              <%= f.text_field :name, class:"form-control" %>
            </div><br><br>

            <div class="form-group">
              <%= f.label :password %> <i class="text-secondary">(Dejar en blanco si no requiere cambiar.)</i><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
              <% if @minimum_password_length %>
                <br />
                <em class="text-secondary"><%= @minimum_password_length %> characteres mínimo.</em>
              <% end %>
            </div><br><br>

            <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
            </div><br><br>

            <div class="actions">
              <%= f.submit "Guardar", class: "btn btn-block btn-primary" %>
            </div>
          <% end %>
          <p><%= button_to "Cancelar mi cuenta", registration_path(:user), data: { confirm: "¿Está seguro?" }, method: :delete, class: "btn btn-danger" %></p>
        </div>
      </div>
    </div>

  </div>
</div>


