<%= form_with(model: replacement_proposal) do |form| %>
  <%= form.hidden_field :replacement_request_id, value: @replacement_request.id %>
  <% if replacement_proposal.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h2>
        <%= I18n.t("errors.messages.not_saved", count: replacement_proposal.errors.count, resource: replacement_proposal.class.model_name.human.downcase) %>
      </h2>

      <ul>
        <% replacement_proposal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <div class="card-header card-header-primary">
      <p class="card-category">Describa el repuesto que requiere lo mejor posible</p>
    </div>
    <div class="card-body">
      <div class="form-group">
        <%= form.label :shop_id, class:"bmd-label-floating" %>
        <select class="form-control" name="replacement_proposal[shop_id]" id="replacement_proposal_shop_id" >
          <%= options_for_select(current_user.shops.collect{ |t| [ "#{t.ruc} - #{t.name}", t.id ] }) %>
        </select>
      </div>

      <div class="form-group">
        <%= form.label :name, class:"bmd-label-floating" %>
        <%= form.text_field :name, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :price, class:"bmd-label-floating" %>
        <%= form.text_field :price, class:"form-control" %>
      </div>

      <div class="form-check">
        <label class="form-check-label">
          <%= form.check_box :original, class:"form-check-input" %>
          Original
            <span class="form-check-sign">
              <span class="check"></span>
            </span>
        </label>
      </div>

      <div class="form-group">
        <%= form.label :brand, class:"bmd-label-floating" %>
        <%= form.text_field :brand, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :origin, class:"bmd-label-floating" %>
        <%= form.text_field :origin, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :life_time, class:"bmd-label-floating" %>
        <%= form.text_field :life_time, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :target, class:"bmd-label-floating" %>
        <%= form.text_field :target, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :delivery_time, class:"bmd-label-floating" %>
        <%= form.text_field :delivery_time, class:"form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :conditions, class:"bmd-label-floating" %>
        <%= form.text_field :conditions, class:"form-control" %>
      </div>
    </div>
    <div class="card-footer">
      <div class="stats align-items-center">
        <%= form.submit 'Guardar', class:"text-info btn btn-outline-info btn-sm" %>
        &nbsp;&nbsp;
        <%= link_to 'Cancelar', replacement_requests_path, class:"text-danger btn btn-outline-danger btn-sm" %>
      </div>
    </div>
  </div>

<% end %>
