<div class="col-md-6 col-sm-12">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title"><%= replacement_proposal.replacement_request.vehicle.brand %> <%= replacement_proposal.replacement_request.vehicle.model %> <%= replacement_proposal.replacement_request.vehicle.year %></h4>
    </div>
    <div class="card-body">
      <h3 class="card-title">
        <%= replacement_proposal.name %> | <%= replacement_proposal.brand %>
      </h3>
      <h4 class="text-dark alert-link">Detalles</h4>
      <ul>
        <li class="text-dark"><strong>Pais de origen:</strong> <%= replacement_proposal.origin %></li>
        <li class="text-dark"><strong>Vida útil:</strong> <%= replacement_proposal.life_time %></li>
        <% if replacement_proposal.target.present? %>
          <li class="text-dark"><strong>Aplica para:</strong> <%= replacement_proposal.target %></li>
        <% end %>
        <li class="text-dark"><strong>Tiempo de entrega:</strong> <%= replacement_proposal.delivery_time %></li>
      </ul>
      <h4 class="text-dark alert-link">Condiciones de entrega</h4>
      <p class="text-dark"><%= replacement_proposal.conditions.html_safe %></p>
      <% if replacement_proposal.photos.any? %>
        <h4 class="text-dark alert-link">Fotos del repuesto</h4>
        <div class="owl-carousel">
          <% replacement_proposal.photos.each_with_index do |photo, index| %>
            <div class="image-element">
              <% if photo.representable? && (["image/png", "image/jpeg", "image/png", "image/gif"].include?(photo.content_type)) %>
                <%= image_tag photo.variant(resize_to_limit: [350, 350]), class: "img-fluid rounded mx-auto d-block" %>
              <% else %>
                <%= link_to rails_blob_path(photo, disposition: "attachment") do %>
                  <div class="download-icon">
                    <span class="material-icons"> cloud_download </span>
                  </div>
                  <%= image_tag "quien_tiene_logo_n.png", alt: "Descargue el archivo", width: 350 %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <p class="text-dark">
        <i class="material-icons text-warning" style="top: 5px; position: relative;">store</i> <%= replacement_proposal.shop.name.upcase %> <small><%= replacement_proposal.shop.ruc %></small><br>
        <i class="material-icons text-warning" style="top: 5px; position: relative;">explore</i> <%= replacement_proposal.shop.address %> - <%= replacement_proposal.shop.sector %><br>
        <% if replacement_proposal.shop.phone2.present? %>
          <i class="material-icons text-warning" style="top: 5px; position: relative;">phone</i> <%= replacement_proposal.shop.phone2 %><br>
        <% end %>
        <% if replacement_proposal.shop.city.present? %>
          <span class="material-icons text-warning" style="position: relative; top: 5px;">location_city</span> <%= replacement_proposal.shop.city %><br>
        <% end %>
      </p>
      <% if current_user.has_role?(:customer) %>
        <a href="https://api.whatsapp.com/send?<%= URI.encode_www_form(phone: "+593#{replacement_proposal.shop.phone1[1..-1]}", text: "Quisiera comprar el repuesto de su propuesta en https://quientiene.com#{replacement_proposals_path(replacement_request_id: replacement_proposal.replacement_request_id)}") %>" class="text-info btn btn-outline-info btn-sm" target="_blank">
          <i class="material-icons text-info mr-2" style="top: 0;">textsms</i> Contactar con la empresa
        </a>
      <% end %>
      <a class="btn btn-outline-warning btn-block disabled text-warning h2" role="button" aria-disabled="true">
        <strong>$<%= replacement_proposal.price %></strong>
      </a>
    </div>
    <div class="card-footer">
      <div class="stats align-items-center">
        <% if can?(:manage, replacement_proposal) && params[:q].nil? %>
          <%= link_to edit_replacement_proposal_path(replacement_proposal, replacement_request_id: replacement_proposal.replacement_request.id), class:"text-info btn btn-outline-info btn-sm" do %>
            <i class="material-icons text-dark mr-2" style="top: 0;">mode_edit</i>
            Editar
          <% end %>
          <%= link_to replacement_proposal, method: :delete, data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
            <i class="material-icons mr-1" style="top: 0;">remove_circle_outline</i>
            Eliminar
          <% end %>
        <% end %>

        <% if current_user.has_role?(:customer) %>
          <% if replacement_proposal.state == 'accepted' %>
            <%= link_to "javascript: void(0);", class:"text-success btn btn-outline-success btn-sm", disabled: true do %>
              <i class="material-icons mr-1" style="top: 0;">done</i>
              Propuesta aceptada
            <% end %>
          <% else %>
            <%= link_to accept_replacement_proposal_path(replacement_proposal, replacement_request_id: replacement_proposal.replacement_request_id), data: { confirm: '¿Está seguro?' }, class:"text-success btn btn-outline-success btn-sm" do %>
              <i class="material-icons mr-1" style="top: 0;">done</i>
              Aceptar
            <% end %>
          <% end %>
        <% end %>
        <% if current_user.has_role?(:shop) && (params[:q].present? || params[:action] == 'new') %>
          <%= link_to new_replacement_proposal_path(replacement_request_id: params[:replacement_request_id], replacement_proposal_id: replacement_proposal.id), class: "btn btn-outline-warning btn-block text-warning content-copy" do %>
            <i class="material-icons mr-1" style="top: 0;">content_copy</i>
            Usar esta propuesta
          <% end %>
        <% end %>
        <% if current_user.has_role?(:customer) && replacement_proposal.state != 'accepted' %>
          <%= link_to ignore_replacement_proposal_path(replacement_proposal, replacement_request_id: replacement_proposal.replacement_request_id), data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
            <i class="material-icons mr-1" style="top: 0;">close</i>
            Ignorar
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>