<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <h1>
      <%= link_to dashboard_path, class:"btn btn-outline-dark btn-lg" do %>
        <i class="material-icons text-dark" style="top: 0;">arrow_back_ios_new</i>
      <% end %>
      Propuestas de repuestos
    </h1>
    <div class="row">
      <% @replacement_proposals.each do |replacement_proposal| %>
        <div class="col-md-6 col-sm-1">
          <div class="card">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">mark_email_read</i>
              </div>
              <p class="card-category text-dark"><%= replacement_proposal.replacement_request.vehicle.brand %> <%= replacement_proposal.replacement_request.vehicle.model %> <%= replacement_proposal.replacement_request.vehicle.year %></p>
              <h4 class="card-title"><%= replacement_proposal.replacement_request.vehicle.plate %> <small><%= replacement_proposal.replacement_request.vehicle.chasis %></small></h4>
            </div>
            <div class="card-body">
              <h3 class="card-title">
                <%= replacement_proposal.name %> | <%= replacement_proposal.brand %>
              </h3>
              <h4 class="text-dark">Detalles</h4>
              <ul>
                <li class="text-dark"><strong>Pais de origen:</strong> <%= replacement_proposal.origin %></li>
                <li class="text-dark"><strong>Vida útil:</strong> <%= replacement_proposal.life_time %></li>
                <% if replacement_proposal.target.present? %>
                  <li class="text-dark"><strong>Aplica para:</strong> <%= replacement_proposal.target %></li>
                <% end %>
                <li class="text-dark"><strong>Tiempo de entrega:</strong> <%= replacement_proposal.delivery_time %></li>
              </ul>
              <h4 class="text-dark">Condiciones de entrega</h4>
              <p class="text-dark"><%= replacement_proposal.conditions.html_safe %></p>
              <% if replacement_proposal.photos.any? %>
                <h4>Fotos del repuesto</h4>
                <div class="owl-carousel">
                  <% replacement_proposal.photos.each_with_index do |photo, index| %>
                    <div>
                      <% if photo.representable? %>
                        <%= image_tag photo.variant(resize_to_limit: [350, 350]), class: "img-fluid rounded mx-auto d-block" %>
                      <% else %>
                        <%= link_to rails_blob_path(photo, disposition: "attachment") do %>
                          <%= image_tag "quien_tiene_logo_n.png", alt: "Descargue el archivo" %>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              <% end %>
              <% if current_user.has_role?(:customer) %>
                <h4 class="text-dark">Empresa</h4>
                <p class="text-dark">
                  <strong><%= replacement_proposal.shop.name.upcase %></strong> <%= replacement_proposal.shop.ruc %><br>
                  <%= replacement_proposal.shop.address %> - <%= replacement_proposal.shop.sector %> - <%= replacement_proposal.shop.phone2 %><br>
                  <a href="https://api.whatsapp.com/send?<%= URI.encode_www_form(phone: replacement_proposal.shop.phone1, text: "Quisiera comprar el repuesto de su propuesta en https://quientiene.com#{replacement_proposals_path(replacement_request_id: replacement_proposal.replacement_request_id)}") %>" class="text-info btn btn-outline-info btn-sm" target="_blank">
                    <i class="material-icons text-info mr-2" style="top: 0;">textsms</i> Contactar con la empresa
                  </a>
                  
                </p>
              <% end %>

              <a class="btn btn-outline-warning btn-block disabled text-warning h2" role="button" aria-disabled="true">
                <strong>$<%= replacement_proposal.price %></strong>
              </a>
            </div>
            <div class="card-footer">
              <div class="stats align-items-center">
                <% if can? :manage, replacement_proposal %>
                  <%= link_to edit_replacement_proposal_path(replacement_proposal, replacement_request_id: replacement_proposal.replacement_request.id), class:"text-info btn btn-outline-info btn-sm" do %>
                    <i class="material-icons text-dark mr-2" style="top: 0;">mode_edit</i>
                    Editar
                  <% end %>
                  <%= link_to replacement_proposal, method: :delete, data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
                    <i class="material-icons mr-1" style="top: 0;">remove_circle_outline</i>
                    Eliminar
                  <% end %>
                <% end %>

                <% if current_user.has_role?(:customer) %>
                  <% if replacement_proposal.state == 'accepted' %>
                    <%= link_to "javascript: void(0);", class:"text-success btn btn-outline-success btn-sm", disabled: true do %>
                      <i class="material-icons mr-1" style="top: 0;">done</i>
                      Propuesta aceptada
                    <% end %>
                  <% else %>
                    <%= link_to accept_replacement_proposal_path(replacement_proposal, replacement_request_id: replacement_proposal.replacement_request_id), data: { confirm: '¿Está seguro?' }, class:"text-success btn btn-outline-success btn-sm" do %>
                      <i class="material-icons mr-1" style="top: 0;">done</i>
                      Aceptar
                    <% end %>
                  <% end %>
                <% end %>
                <% if current_user.has_role?(:customer) && replacement_proposal.state != 'accepted' %>
                  <%= link_to ignore_replacement_proposal_path(replacement_proposal, replacement_request_id: replacement_proposal.replacement_request_id), data: { confirm: '¿Está seguro?' }, class:"text-danger btn btn-outline-danger btn-sm" do %>
                    <i class="material-icons mr-1" style="top: 0;">close</i>
                    Ignorar
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <br>

  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>

<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
    <div class="col">
      <%= render 'home/ad_example' %>
    </div>
  <div class="col-md-1 col-sm-1"></div>
</div>

<% if false %>
  <% @replacement_proposals.each do |replacement_proposal| %>
    <tr>
      <td><%= replacement_proposal.price %></td>
      <td><%= replacement_proposal.original %></td>
      <td></td>
      
      <td><%= link_to 'Show', replacement_proposal %></td>
    </tr>
  <% end %>
<% end %>
