<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
  <div class="col">
    <h1>
      <%= link_to dashboard_path, class:"btn btn-outline-dark btn-lg" do %>
        <i class="material-icons text-dark" style="top: 0;">arrow_back_ios_new</i>
      <% end %>
      Propuestas de repuestos
    </h1>
    <div class="row">
      <% @replacement_proposals.each do |replacement_proposal| %>
        <%= render 'proposal_item', replacement_proposal: replacement_proposal %>
      <% end %>
    </div>

    <br>

  </div>
  <div class="col-md-1 col-sm-1"></div>
</div>

<div class="row justify-content-center">
  <div class="col-md-1 col-sm-1"></div>
    <div class="col">
      <%= render 'home/ad_example' %>
    </div>
  <div class="col-md-1 col-sm-1"></div>
</div>

<% if false %>
  <% @replacement_proposals.each do |replacement_proposal| %>
    <tr>
      <td><%= replacement_proposal.price %></td>
      <td><%= replacement_proposal.original %></td>
      <td></td>
      
      <td><%= link_to 'Show', replacement_proposal %></td>
    </tr>
  <% end %>
<% end %>
