<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <link rel="profile" href="https://gmpg.org/xfn/11" />
  <link rel="apple-touch-icon" sizes="180x180" href="https://quientiene.com/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://quientiene.com/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://quientiene.com/favicon/favicon-16x16.png">
  <link rel="mask-icon" href="https://quientiene.com/favicon/safari-pinned-tab.svg" color="#343434">
  <link rel="manifest" href="https://quientiene.com/favicon/site.webmanifest">
  <meta name="msapplication-TileColor" content="#343434">
  <meta name="theme-color" content="#343434">
  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />

  <title>
    <% if @title.blank? %>
      QuienTinene.com :: Encuentre el repuesto que está buscando
    <% else %>
      QuienTinene.com :: <%= @title %>
    <% end %>
  </title>
  <meta name="description" content="Todos los locales en un solo lugar, encuentre el repuesto que tanto busca." />
  <link rel="canonical" href="https://quientiene.com/" />
  <meta property="og:locale" content="es_MX" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="<%= @title %>" />
  <meta property="og:description" content="Todos los locales en un solo lugar, encuentre el repuesto que tanto busca." />
  <meta property="og:url" content="https://quientiene.com/" />
  <meta property="og:site_name" content="QuienTiene" />
  <meta property="article:modified_time" content="<%= DateTime.now.strftime("%Y-%m-%dT%H:%M:%S+00:00") %>" />
  <meta property="og:image" content="https://quientiene.com/assets/quien_tiene_logo_b-40f9d65242b0044e319e88a3dc3bd6ed44146b22ef46b469933ed4fe1a080020.png" />
  <meta property="og:image:width" content="900" />
  <meta property="og:image:height" content="479" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="https://quientiene.com/assets/quien_tiene_logo_b-40f9d65242b0044e319e88a3dc3bd6ed44146b22ef46b469933ed4fe1a080020.png" />
  <meta name="twitter:site" content="@dario_chuquilla" />
  <meta name="twitter:label1" content="Est. reading time" />
  <meta name="twitter:data1" content="1 minuto" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'false' %>
  <script src="/js_core/10jquery-3.3.1.min.js" data-turbolinks-track="false"></script>
  <script async src="/js_core/20popper.min.js" data-turbolinks-track="false"></script>
  <script async src="/js_core/35bootstrap-material-design.min.js" data-turbolinks-track="false"></script>
  <script async src="/js_core/40material-dashboard.js" data-turbolinks-track="false"></script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'false', async: true %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script defer src="/js_core/60ga.js" data-turbolinks-track="false"></script>
  <!-- END Global site tag (gtag.js) - Google Analytics -->

  <% if user_signed_in? %>
    <!-- OneSignal code -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "19562cd9-e931-441f-b7ca-171be04a5224",
          autoRegister: false,
          allowLocalhostAsSecureOrigin: true,
          notifyButton: {
            enable: true
          },
          webhooks: {
            cors: true
          }
        });
        OneSignal.on('subscriptionChange', function (isSubscribed) {
          if (isSubscribed) {
            OneSignal.getUserId(function(userId) {
              var user_params = { onesignal_id: userId };
              $.ajax({
                url: '<%= users_add_onesignal_id_url %>.json',
                dataType: "json",
                type: "put",
                async: true,
                data: { onesignal_id: userId },
                success: function (data) {
                  var user = data;
                  OneSignal.push(["sendTag", "user_id", user.id]);
                  OneSignal.push(["sendTag", "user_name", user.name]);
                  OneSignal.push(["sendTag", "user_email", user.email]);
                  <% if current_user.has_role?(:shop) %>
                    OneSignal.push(["sendTag", "user_type", 'store']);
                  <% else %>
                    OneSignal.push(["sendTag", "user_type", 'client']);
                  <% end %>
                },
                error: function (xhr, exception) {
                  var msg = "";
                  if (xhr.status === 0) {
                    msg = "Not connect.\n Verify Network." + xhr.responseText;
                  } else if (xhr.status == 404) {
                    msg = "Requested page not found. [404]" + xhr.responseText;
                  } else if (xhr.status == 500) {
                    msg = "Internal Server Error [500]." +  xhr.responseText;
                  } else if (exception === "parsererror") {
                    msg = "Requested JSON parse failed.";
                  } else if (exception === "timeout") {
                    msg = "Time out error." + xhr.responseText;
                  } else if (exception === "abort") {
                    msg = "Ajax request aborted.";
                  } else {
                    msg = "Error:" + xhr.status + " " + xhr.responseText;
                  }
                  console.log(msg);
                }
              }); 
            });
          }
        });
      });
    </script>
    <!-- ENDOneSignal code -->
    <% if params[:controller] == 'Admin::DashboardController' %>
      <link rel="stylesheet" media="screen" href="/active_admin.css" />
    <% end %>
  <% end %>

  <!-- Facebook Pixel Code -->
    <script defer src="/js_core/62fb-pixel.js" data-turbolinks-track="false"></script>
    <noscript><img height="1" width="1" src="https://www.facebook.com/tr?id=4715094701868400&ev=PageView&noscript=1"/></noscript>
  <!-- End Facebook Pixel Code -->

</head>

<body class="<%= ['index', 'new'].include?(params[:action]) && ['users/sessions', 'users/registrations', 'devise/unlocks','home', 'devise/passwords'].include?(params[:controller]) ? 'is-boxed' : '' %>">
  <% if user_signed_in? %>
    <nav class="user-navigation navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to root_path, class:"navbar-brand btn btn-outline" do %>
          <%= image_tag "quien_tiene_logo_b.png", height: "50" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <% if current_user.has_role?(:customer) %>
              <li class="nav-item btn btn-outline">
                <%= link_to "Panel de control", dashboard_path, class:"nav-link text-white" %>
              </li>
              <li class="nav-item btn btn-outline">
                <%= link_to "Mis Solicitudes", replacement_requests_path, data: { turbolinks: false }, class: "nav-link text-white" %>
              </li>
              <li class="nav-item btn btn-outline">
                <%= link_to "Mis vehículos", vehicles_path, data: { turbolinks: false }, class: "nav-link text-white" %>
              </li>
            <% end %>
            <% if current_user.has_role?(:shop) %>
              <li class="nav-item btn btn-outline">
                <%= link_to "Panel de control", dashboard_shop_path, class:"nav-link text-white" %>
              </li>
              <li class="nav-item btn btn-outline">
                <%= link_to "Mils locales", shops_path, class:"nav-link text-white" %>
              </li>
            <% end %>
            <li class="nav-item btn btn-outline">
              <%= link_to "Mi cuenta", my_account_path, class: "nav-link text-white" %>
            </li>
            <li class="nav-item btn btn-outline">
              <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"nav-link text-white" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>
  <% if notice %>
    <p class="alert fixed-position alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert fixed-position alert-danger"><%= alert %></p>
  <% end %>
  <% if warning %>
    <p class="alert fixed-position alert-warning"><%= warning %></p>
  <% end %>
  
  <%= yield %>
  
  <% if  params[:controller] == 'home' %>
    <%= render "home/shared/footer" %>
  <% else %>
    <%= render "home/shared/footer_users" %>
  <% end %>
</body>
</html>