<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

  <title>Quientiene</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="/js_core/10jquery-3.3.1.min.js" data-turbolinks-track="reload"></script>
  <script src="/js_core/20popper.min.js" data-turbolinks-track="reload"></script>
  <script src="/js_core/35bootstrap-material-design.min.js" data-turbolinks-track="reload"></script>
  <script src="/js_core/40material-dashboard.js" data-turbolinks-track="reload"></script>
  <script src="/js_core/50owl.carousel.min.js" data-turbolinks-track="reload"></script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <% if user_signed_in? %>
    <!-- OneSignal code -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      window.OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "19562cd9-e931-441f-b7ca-171be04a5224",
          autoRegister: false,
          allowLocalhostAsSecureOrigin: true,
          notifyButton: {
            enable: true
          },
          webhooks: {
            cors: true
          }
        });
        OneSignal.on('subscriptionChange', function (isSubscribed) {
          if (isSubscribed) {
            OneSignal.getUserId(function(userId) {
              var user_params = { onesignal_id: userId };
              $.ajax({
                url: '<%= users_add_onesignal_id_url %>.json',
                dataType: "json",
                type: "put",
                async: true,
                data: { onesignal_id: userId },
                success: function (data) {
                  var user = data;
                  OneSignal.push(["sendTag", "user_id", user.id]);
                  OneSignal.push(["sendTag", "user_name", user.name]);
                  OneSignal.push(["sendTag", "user_email", user.email]);
                  <% if current_user.has_role?(:shop) %>
                    OneSignal.push(["sendTag", "user_type", 'store']);
                  <% else %>
                    OneSignal.push(["sendTag", "user_type", 'client']);
                  <% end %>
                },
                error: function (xhr, exception) {
                  var msg = "";
                  if (xhr.status === 0) {
                    msg = "Not connect.\n Verify Network." + xhr.responseText;
                  } else if (xhr.status == 404) {
                    msg = "Requested page not found. [404]" + xhr.responseText;
                  } else if (xhr.status == 500) {
                    msg = "Internal Server Error [500]." +  xhr.responseText;
                  } else if (exception === "parsererror") {
                    msg = "Requested JSON parse failed.";
                  } else if (exception === "timeout") {
                    msg = "Time out error." + xhr.responseText;
                  } else if (exception === "abort") {
                    msg = "Ajax request aborted.";
                  } else {
                    msg = "Error:" + xhr.status + " " + xhr.responseText;
                  }
                  console.log(msg);
                }
              }); 
            });
          }
        });
      });

    </script>
    <!-- ENDOneSignal code -->
  <% end %>

</head>

<body class="<%= params[:action] == 'index' && ['home'].include?(params[:controller]) ? 'is-boxed' : '' %>">
  <% if user_signed_in? %>
    <nav class="user-navigation navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to root_path, class:"navbar-brand" do %>
          <%= image_tag "quien_tiene_logo_b.png", height: "50" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <% if current_user.has_role?(:customer) %>
              <li class="nav-item active">
                <%= link_to "Panel de control", dashboard_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Solicitudes", replacement_requests_path, data: { turbolinks: false }, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Vehículos", replacement_requests_path, data: { turbolinks: false }, class: "nav-link" %>
              </li>
            <% end %>
            <% if current_user.has_role?(:shop) %>
              <li class="nav-item active">
                <%= link_to "Panel de control", dashboard_shop_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Locales", shops_path, class:"nav-link" %>
              </li>
            <% end %>
          </ul>
          <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "Mi cuenta", edit_user_registration_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Salir", destroy_user_session_path, method: :delete, class:"nav-link" %>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </nav>
  <% end %>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <% if warning %>
    <p class="alert alert-warning"><%= warning %></p>
  <% end %>
  <%= yield %>
  
</body>
</html>